<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :breakfast %>
    <%= form.number_field :price %>
  </div>
  <div class="field">
    <%= form.label :lunch %>
    <%= form.number_field :price %>
  </div>
  <div class="field">
    <%= form.label :vegetable %>
    <%= form.number_field :price %>
  </div>
  <div class="field">
    <%= form.label :drink %>
    <%= form.number_field :price %>
  </div>

 

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
