<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @breakfast.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @breakfast.price %>
</p>

<%= link_to 'Edit', edit_breakfast_path(@breakfast) %> |
<%= link_to 'Back', breakfasts_path %>
